body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #dad7cd;
}

header img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 20px;
}


#picture {
    width: 230px;
    height: 230px
}

#name {
    width: 300px;
    height:300px;
}

.modules {
    display: flex;
    grid-gap: 50px;
}



@media (min-width: 960px) {
  
    .intro {
        display: flex;
        /* justify-content: space-between;
        align-content: space-between; */
        grid-gap: 50px;
    }

    .flex-container {
        display: flex;
        /* justify-content: space-between;
        align-content: space-between; */
        grid-gap: 20px;
    }

    .historical-places {
        display: flex;
        grid-gap: 50px;
    }
    
}